<div class="row">
    <div class="col-12">
        <img src="assets/medellin-5.jpg" style="width:  100%;" />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tecnología</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Deportes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Autos</a>
            </li>
        </ul>
    </div>
</div>