<h1>Noticias</h1>

<div class="row">
    <div class="col-10"></div>
    <div class="col-2">
        <div class="form-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" id="selectorNoticias" (change)="eventoControl($event)">
             <option *ngFor="let objeto of categorias" value="{{objeto.codigo}}">{{objeto.texto}}</option> 
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div *ngFor="let noticias of noticias">
            <div *ngIf="noticias.categoria.codigo==1; else opcion2">
                <div class="row" style="margin-top: 18pt">
                    <div class="col-4">
                        <img style="width: 380px;" src="{{noticias.imagen}}" />
                    </div>
                    <div class="col-8">
                        <h5>{{noticias.titulo}}</h5>
                        <p>{{noticias.texto}}</p>
                    </div>
                </div>
            </div>
            <ng-template #opcion2>
                <div class="row" style="margin-top: 18pt">
                    <div class="col-4">
                        <img style="width: 380px;" src="{{noticias.imagen}}" />
                    </div>
                    <div class="col-8">
                        <h5>{{noticias.titulo}}</h5>
                        <p>{{noticias.texto}}</p>
                    </div>
                </div>
            </ng-template>
            <ng-template #opcion3>
                <div class="row" style="margin-top: 18pt">
                    <div class="col-4">
                        <img style="width: 380px;" src="{{noticias.imagen}}" />
                    </div>
                    <div class="col-8">
                        <h5>{{noticias.titulo}}</h5>
                        <p>{{noticias.texto}}</p>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>